Jackson,Lamar,QB,BAL,Bye: 8,58.56,,,
Prescott,Dak,QB,DAL,Bye: 8,47.40,,,
Mahomes,Patrick,QB,KC,Bye: 12,45.32,,,
Keenum,Case,QB,WAS,Bye: 10,45.20,,,
Watson,Deshaun,QB,HOU,Bye: 10,44.72,,,
Wentz,Carson,QB,PHI,Bye: 10,43.02,,,
Stafford,Matthew,QB,DET,Bye: 5,41.60,,,
Rivers,Philip,QB,LAC,Bye: 12,40.92,,,
Brady,Tom,QB,NE,Bye: 10,40.64,,,
Dalton,Andy,QB,CIN,Bye: 9,37.72,,,
Mariota,Marcus,QB,TEN,Bye: 11,36.32,,,
Murray,Kyler,QB,ARI,Bye: 12,30.62,,,
Allen,Josh,QB,BUF,Bye: 6,28.96,,,
Brees,Drew,QB,NO,Bye: 9,26.80,,,
Wilson,Russell,QB,SEA,Bye: 11,26.60,,,
Ryan,Matt,QB,ATL,Bye: 9,26.56,,,
Minshew,Gardner,QB,JAC,Bye: 10,23.60,,,
Brissett,Jacoby,QB,IND,Bye: 6,20.50,,,
Manning,Eli,QB,NYG,Bye: 11,18.84,,,
Garoppolo,Jimmy,QB,SF,Bye: 4,17.44,,,
Mayfield,Baker,QB,CLE,Bye: 7,17.40,,,
Flacco,Joe,QB,DEN,Bye: 10,16.82,,,
Carr,Derek,QB,OAK,Bye: 6,16.56,,,
Cousins,Kirk,QB,MIN,Bye: 12,16.32,,,
Winston,Jameis,QB,TB,Bye: 7,15.06,,,
Darnold,Sam,QB,NYJ,Bye: 4,15.00,,,
Rodgers,Aaron,QB,GB,Bye: 11,14.92,,,
Fitzpatrick,Ryan,QB,MIA,Bye: 5,14.20,,,
Goff,Jared,QB,LAR,Bye: 9,13.44,,,
Foles,Nick,QB,JAC,Bye: 10,12.00,,,
Roethlisberger,Ben,QB,PIT,Bye: 7,11.74,,,
Trubisky,Mitchell,QB,CHI,Bye: 6,10.22,,,
Newton,Cam,QB,CAR,Bye: 7,9.36,,,
Griffin III,Robert,QB,BAL,Bye: 8,9.10,,,
Hill,Taysom,QB,NO,Bye: 9,8.70,,,
Jones,Daniel,QB,NYG,Bye: 11,1.18,,,
Rosen,Josh,QB,MIA,Bye: 5,.20,,,
Rudolph,Mason,QB,PIT,Bye: 7,,,,
Falk,Luke,QB,NYJ,Bye: 4,,,,
Siemian,Trevor,QB,NYJ,Bye: 4,,,,
McCown,Josh,QB,PHI,Bye: 10,,,,
Taylor,Tyrod,QB,LAC,Bye: 12,.00,,,
Bridgewater,Teddy,QB,NO,Bye: 9,,,,
Moore,Matt,QB,KC,Bye: 12,-0.10,,,
Tannehill,Ryan,QB,TEN,Bye: 11,-0.20,,,
